.alert {
  width: 100%;
  display: flex; 
  align-items: center;
  
  justify-content: flex-start;
  gap: 0.5rem;
  
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  
  background-color: #C2464D;
  color: #FFFFFF;
  font-size: var(--font-link, 0.875rem);

}

.alert .close-alert-icon {
  height: auto;
  max-width: 1.25rem;
  cursor: pointer;
  
  margin-left: auto;
}

.alert img {
  height: auto;
  
  filter: brightness(0) invert(1);
}